@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Management System</h1>
    <p class="lead">Student Management System (SMS) is a software designed to track and manage all the data created by the school such as a student's details, courses, batches, etc., as well as other school-related data.</p>
    
</div>
